.r {
    /* background-image: linear-gradient(to right top, #44576d, #2a3e54, #425c7e, #415877, #2d3f5b); */
    /* background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  #FF6E9D 0%, #4B4453 15.9%, #FB4F35 15.9%, #D1B8EE 24.4%, rgba(19,30,37,1) 24.5%, #38205f 66% ); */
    /* background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%, rgb(85,88,218,1) 10%, rgb(113, 116, 238) 15.9%, rgb(150, 151, 224) 15.9%, rgb(132, 134, 223) 24.4%, rgba(110,123,251,1) 24.5%, rgb(131, 133, 233) 66% ); */
    /* background-image: radial-gradient( circle 600px at 100.2% 3%,  rgba(12,85,141,1) 31.1%, rgba(205,181,93,1) 36.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 60.7%, rgba(249,140,69,1) 72.5%, rgb(10, 83, 77) 72.6% );     */
    /* background-image: radial-gradient( circle 926px at 2.7% 11%,  rgba(17,29,94,1) 0%, rgba(178,31,102,1) 90% ); */

    /* background-image: linear-gradient( 109.6deg,  rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */

    /* background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% ); */
   
    background-image: linear-gradient(to right top, #215161, #254f5f, #294c5d, #2c4a5b, #2f4858);
    position: relative;
    top: -70px;
    /* background-image: linear-gradient(to right top, #107355, #006a61, #005f66, #1c5363, #2f4858); */
    /* margin-top: 50px;
margin-bottom: 50px; */

}

.recently-title {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}
.title-main-recent {
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-grid-recently {
    width: 82.3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    grid-gap: 20px 20px;
    padding-bottom: 60px;
}
.main-card {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255,.3); */
    -webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
    padding:10px 20px 0;
    border-radius: .9rem;
    cursor: pointer;
    position: relative;

  
}
.image-card-recent {
    display: flex;
    justify-content: center;
}

.card-text-recent {
    text-align: center;
    margin-top: 8px;
    font-size:18px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 8px;
}
.card-text-paragraph {
    color: rgb(248, 248, 248);
    /* opacity: .5; */
    font-size: .63rem;
    text-align: center;
    letter-spacing: .05em;
}
.card-recently {
    width: 58px;
    height: 58px;
}


 .slide-up {
    bottom: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0;
    position: absolute;
    transform: translateY(10px);
    transition: opacity .2s,transform .3s, color .3s,background-color .3s;
    transition-timing-function: ease-in-out;
    width: 80%;
    /* background-color:#CBA1FF; */
    background-color: #107355;
    outline: none;
    border: none;
    border-radius: .9rem;
    color: #fff;
    font-size: .8rem;
    padding: 8px 0;
}
.main-card:hover .slide-up,.image-card-recent:hover .slide-up {
    opacity: 1;
    transform: translateY(-15px);
}
.main-card:hover .card-text-paragraph,.image-card-recent:hover .card-text-paragraph {
    transition: all  ease-in-out .4s;
    opacity: 0;

} 
.slide-up:hover {
    background-color: #fff;
    color: #107355;
}
.show-more {
    margin-bottom: 20px;
   
    background-color: #107355;


    border-radius: .9rem;
    width: 15%;
    text-align: center;
    cursor: pointer;

}
.show-more-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 28px;
}
.show-more:hover {
    transition: all ease-in-out .4s;
 background-color: #fff;
}
.show-more:hover .show-more-btn {
    color:#107355;
    transition: all ease-in-out .4s;
   
}

@media screen and (max-width:990px) {
    .main-grid-recently {
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }

     .show-more {
        width: 80%;
    }
}
@media screen and (max-width:750px) {
    .main-grid-recently {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .show-more {
        width: 80%;
    }
   
    
}

