.section-div{
    max-width: 998px;
    width: 100%;
    background-color: #fdfaf9;
    border-radius: .9rem;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text-section {
    padding:20px 15px;
}
.svg-test {
    width: 20px;
    height: 20px;
}
@media screen and (max-width:768px) {
    /* .svg-test {
        display: none;
    } */
    .section-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
#sec {
    font-size: 1.3rem;   
     color: #132743;
     font-weight: bold;
}
#vertical-line {
    color: rgb(175, 175, 175);
}
#second {
    font-size: 1.5rem;
    font-weight: bold;
}

.fa-chevron-up,.fa-chevron-down {
    background-color: rgb(226, 226, 226);
    padding: 8px 10px;
    border-radius: 6px;
}



.card-section-main {
    max-width: 998px;
    /* background-color: #D7F3FF; */
    /* border-radius: 18px; */
    /* margin-top: -20px; */
    /* margin-bottom: 40px; */
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    /* border-bottom: solid 1px #ddd; */
}
.current-section-content {
    /* height:0; */
    overflow: hidden;
    transition: all ease .6s;
}
.hids {
    height: 0;
}


.check-box {
    position: absolute;
    opacity: 0;
    
}
.check-item {
    font-size:1.3rem;
    padding-left: 8px;
    padding-top: 6px;
}
.div-number-circ:hover .div-for-number{
opacity: 0;
}
.div-number-circ:hover .check-box{
opacity: 1;
}

.card-discription-item {
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */
    width: 90%;
}

 
.edit-answer-faq {
    color: #111;
    font-size: 32px !important;
    font-weight:600;
}

.div-number-circ {
    width: 65px;
    height: 65px;
    background-color:#f5f5f5 ;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

/* .card-discription-item p {
    font-size: .8rem;
} */

.for-episode-and-clock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 48%;
}
.for-episode-and-clock {
    font-size: .7rem;
    color: #000;
    opacity: .6;
}
.section-clock {
    font-size: .7rem;
}
.minutes {
    margin-left: 10px;
}

@media screen and (max-width:768px) {
    
    #second {
        font-size: 1.3rem;
    }
}

